@font-face {
    font-family: 'seoulHangangB';
    src: url(./fonts/SeoulHangangB.ttf) format('truetype');
}
body {
    background-color: rgb(214, 214, 214);
}
.container {
    text-align: center;
    overflow: auto;
    font-family: 'seoulHangangB';
}
.logo-intro {
    text-align: center;
    display:inline-block;
    align-items: center;
    justify-content: center;
}
.doit-img-intro {
    width: 120px;
    height: 120px;
    border-radius: 17px;
}

.login-intro {
    display: table;
    width: 400px;
    
}

.tr {
    display: table-row;
    height: 440px;
}

.td {
    display: table-cell;
    vertical-align: middle;
}

.txt {
    width:420px;
    text-align: left;
    padding-left: 20px;
}

.start-btn {
    font-size: 40px;
    width: 200px;
    height: 70px;
    background-color: rgb(150, 150, 150);
    border: none;
    color: white;
    border-radius: 20px;
    font-family:'seoulHangangB';
    font-weight: bold;
}