@font-face {
    font-family: 'seoulHangangB';
    src: url(./fonts/SeoulHangangB.ttf) format('truetype');
}

.login-left {
    background-color: white;
    float: left;
    height: 710px;
    width: 580px;
    font-family: 'seoulHangangB';
}

body {
    background-color: rgb(180, 180, 180);
    text-align: center;
    overflow: hidden;
    font-family: 'seoulHangangB';
}

.logo {
    text-align: left;
    font-family: 'seoulHangangB';
}

.title {
    margin-bottom: 30px;
    float: none;
    font-size: large;
    color: gray;
    font-family: 'seoulHangangB';
}

.login-btn {
    font-size: 20px;
    padding: 10px 20px;
    height: 140%;
    width:25%;
    border-style: none;
    background-color: rgb(200, 200, 200);
    border-radius: 17px;
    font-family:'seoulHangangB';
}

.login-form-input {
    margin-bottom:23px;
    font-size: 15px;
    height: 30px;
    width: 300px;
    font-family: 'seoulHangangB';
    background-color: rgb(240, 240, 240);
}

.form-input-register{
    font-size: 12px;
    font-family: 'seoulHangangB';
}

.login-form-label {
    display: block;
    text-align: left;
    font-size: 20px;
    font-family: 'seoulHangangB';
    margin-left: 135px;
    margin-bottom: 10px;
}

.auto-login {
    display: block;
    text-align: left;
    font-size: 18px;
    font-family: 'seoulHangangB';
    margin-left: 130px;
    margin-top: 0px;
}

.auto-checkbox {
    width: 15px;
    height: 15px;
}

.doit-img {
    width: 50px;
    height: 50px;
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 17px;
    float: left;
}