@font-face {
    font-family: 'seoulHangangB';
    src: url(./fonts/SeoulHangangB.ttf) format('truetype');
}

.calendar {
    position: absolute;
    border: 2px solid black;
    font-family: 'seoulHangangB';
    width: 970px;
    height: 610px;
    float: right;
    margin-left: 8px;
    display: inline;
}

.header {
    background-color: white;
    border-bottom: 2px solid black;
    line-height: 0.1em;
    width: 1440px;
    display:inline-block;
    height: 42px;
    font-family: 'seoulHangangB';
}

.logout {
    height: 20px;
    margin-right:15px;
}

.list {
    display: inline;
    border-bottom: 2px solid black;
    border-top:2px solid black;
    border-right:2px solid black;
    float: left;
    width: 450px;
    font-family: 'seoulHangangB';
    height: 650px;
    background-color: white;
}

.doit-img-main{
    height: 30px;
    width: 30px;
    padding-left: 10px;
}

.main-tr {
    display: table-row;
    float: left;
    height: 10px;
}

.main-td {
    display: table-cell;
    vertical-align: middle;
}

.txt-main {
    width: 2000px;
    padding-left: 10px;
}

.message-header {
    display: inline;
    float: right;
}

.calendar-header {
    margin-left: 3px;
    height: 40px;
    width: 900px;
    font-family: 'seoulHangangB';
}

.render-range {
    display: inline;
    position: absolute;
    margin-top: 0.3%;
    margin-left: 230px; 
    font-size: 30px;
}

.btn-move-today {
    margin-left: 5px;
    height: 30px;
    display: inline;
    margin-top: 3px;
    margin-right: 3%;
    font-family: 'seoulHangangB';
}

.btn-move-prev {
    height: 30px;
    margin-right: 3%;
    font-family: 'seoulHangangB';
}

.btn-move-next {
    height: 30px;
    margin-right: 3%;
    font-family: 'seoulHangangB';
}

.calendar-container {
    width: 100%;
    position: inherit;
    text-align: center;
    border-bottom: 2px solid black;
}

.calendar-name {
    display: inline-block;
    width: 60%;
    padding: 3%;
}

.sp-add-calendar {
    display: inline;
    width: 20%;
}
.add-calendar {
    height: 30px;
    display: inline-block;
    font-family: 'seoulHangangB';
    margin: 6px;
}

.add-schedule {
    height: 30px;
    display: inline-block;
    font-family: 'seoulHangangB';
}