@font-face {
    font-family: 'seoulHangangB';
    src: url(./fonts/SeoulHangangB.ttf) format('truetype');
}

.left {
    background-color: white;
    float: left;
    height: 710px;
    width: 580px;
    font-family:'seoulHangangB';
}

.form-label{
    font-size: 15px;
    font-family:'seoulHangangB';

}

.form-content-left {
    background-color: rgb(214, 214, 214);
    text-align: center;
    overflow: hidden;
    font-family: 'seoulHangangB';
}

.form-inputs p {
    color : red;
    font-size: 12px;
    line-height: 0;
    margin-top: -10px;
    margin-bottom: 20px;
    text-align: left;
    font-family:'seoulHangangB';
    margin-left: 185px;
}

.form-input {
    margin-bottom:23px;
    height: 25px;
    width: 200px;
    font-family:'seoulHangangB';
    background-color: rgb(240, 240, 240);
}

.logo {
    text-align: left;
    font-family:'seoulHangangB';
}

.title {
    margin-bottom: 30px;
    font-size: 20px;
    font-family:'seoulHangangB';
}

.form-input-btn {
    font-size: 20px;
    padding: 10px 20px;
    height: 140%;
    width:25%;
    border-style: none;
    background-color: rgb(200, 200, 200);
    border-radius: 17px;
    font-family:'seoulHangangB';
}

.form-input-register{
    font-size: 12px;
    font-family:'seoulHangangB';
}

label {
    display: block;
    text-align: left;
    margin-left: 185px;
    margin-bottom: 5px;
}