body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'seoulHangangB';
  src: url(./component/fonts/SeoulHangangB.ttf) format('truetype');
}

@font-face {
  font-family: 'seoulHangangEB';
  src: url(./component/fonts/SeoulHangangEB.ttf) format('truetype');
}

@font-face {
  font-family: 'seoulHangangL';
  src: url(./component/fonts/SeoulHangangL.ttf) format('truetype');
}

@font-face {
  font-family: 'seoulHangangM';
  src: url(./component/fonts/SeoulHangangM.ttf) format('truetype');
}